ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li
       != link_to('Users', pathTo.users)
       span.divider /
    li.active
       a(href='#') Details of User

.page-header
  h1 Details of User

div(about=path_to.user(user))
  table.table.table-bordered
    tbody
      tr
        td firstName
        td
          != user.firstName
        tr
        td lastName
        td
          != user.lastName
        tr
        td email
        td
          != user.email

.well
  != linkTo('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_user(user), {class: 'btn btn-primary'}) + ' '
  != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.user(user), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  span= ' or '
  != linkTo('Back to index', pathTo.users)
